@font-face {
    font-family: "SF Pro";
    src: url("/apple-plagiat/assets/css/FontsFree-Net-SFProDisplay-Regular.ttf") format("ttf");
   }
   
nav
{
    width:100%;
    display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
}

nav ul
{
    list-style: none;
	display: flex;    
}

nav ul li
{
	height:40px;
	line-height: 44px;
	margin: 4px;
	padding: 0px 22px;
	display: flex;
}

body{
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

section
{
    width:100%;
}