@font-face {
    font-family: "SF Pro";
    src: url("/apple-plagiat/assets/css/FontsFree-Net-SFProDisplay-Regular.ttf") format("ttf");
   }
   
nav
{
    width:100%;
    display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
    background-color: #333333;
    color: white;
}

nav ul
{
    list-style: none;
	display: flex;   
}

body{
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

a {
    text-decoration: none;
    color: #2997FF;
}

a:hover{
    color: #2997FF;
    text-decoration: underline;
}