@font-face {
    font-family: "SF Pro";
    src: url("/apple-plagiat/assets/css/FontsFree-Net-SFProDisplay-Regular.ttf") format("ttf");
   }
   
nav
{
    width:100%;
    display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
    background-color: #333333;
    color: white;
    margin: 0px;
    
}

nav ul
{
    list-style: none;
	display: flex;   
    align-items: center;
    justify-content: space-between;  
}

nav ul li
{
	height:20px;
	line-height: 0px;
	margin: 10px;
	padding: 10px 10px;
	display: flex;
}

body{
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0px;
    padding: 0px;
}

section
{
    width:100%;
}

a {
    color: #2997FF;
}