@font-face {
    font-family: "SF Pro";
    src: url("/apple-plagiat/assets/css/FontsFree-Net-SFProDisplay-Regular.ttf") format("ttf");
   }
   
nav
{
    width:100%;
    display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
    background-color: #333333;
    color: white;
}

nav ul
{
    list-style: none;
	display: flex;   
}

nav ul li
{
	height:20px;
	line-height: 10px;
	margin: 4px;
	padding: 0px 22px;
	display: flex;
}

body{
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

<<<<<<< HEAD
section
{
    width:100%;
=======
a {
    color: #2997FF;
>>>>>>> c39c85667dab05b6e0a2be0ed67a55de53fa89f6
}