@font-face {
    font-family: "SF Pro";
    src: url("/apple-plagiat/assets/css/FontsFree-Net-SFProDisplay-Regular.ttf") format("ttf");
   }
   
nav
{
    width:100%;
    display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
    background-color: #333333;
    color: white;
    margin: 0px;
}

nav ul
{
    list-style: none;
	display: flex;
  align-items: center;
  justify-content: space-between;  
}

nav ul li
{
	height:20px;
	line-height: 0px;
	margin: 10px;
	padding: 10px 10px;
	display: flex;
}

body{
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0px;
    padding: 0px;
}

section
{
    width:100%;
}

a
{
    text-decoration: none;
    color: #2997FF;
}

a:hover
{
    color: #2997FF;
    text-decoration: underline;
}
img
{
    width: 100%;
    height:100%;
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.container {
    position: relative;
    text-align: center;
    color: white;
}
.container2{
    position: relative;
    text-align: center;
    color: black;
}

#icone-apple
{
    background-image: url("/apple-plagiat/assets/img/apple.svg");
}

a {
    text-decoration: none;
    color: #2997FF;
}

a:hover{
    color: #2997FF;
    text-decoration: underline;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }  
